[submodule "LEAP71_ShapeKernel"]
	path = ShapeKernel/src
	url = https://github.com/shapediver/LEAP71_ShapeKernel.git
[submodule "PicoGK"]
	path = PicoGK/src
	url = https://github.com/shapediver/PicoGK
[submodule "LEAP71_LatticeLibrary"]
	path = LatticeLibrary/src
	url = https://github.com/shapediver/LEAP71_LatticeLibrary.git
[submodule "PicoGK/PicoGK"]
	path = PicoGK/PicoGK
	url = https://github.com/shapediver/PicoGK.git
[submodule "ShapeKernel/LEAP71_ShapeKernel"]
	path = ShapeKernel/LEAP71_ShapeKernel
	url = https://github.com/shapediver/LEAP71_ShapeKernel.git
[submodule "LatticeLibrary/LEAP71_LatticeLibrary"]
	path = LatticeLibrary/LEAP71_LatticeLibrary
	url = https://github.com/shapediver/LEAP71_LatticeLibrary.git
[submodule "PicoGKRuntime/PicoGKRuntime"]
	path = PicoGKRuntime
	url = https://github.com/shapediver/PicoGKRuntime.git
